{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <!-- TODO: Pre-fill title using entry data -->
    <!-- Hint: value="{{ entry['title'] }}" -->
    <input name="area" placeholder="area" value="{{ entry['area'] }}"><br>
    <input name="weather_reported" placeholder="weather_reported" value="{{ entry['weather_reported'] }}"><br>
    <button type="submit">update Entry</button>

</form>

<a herf="{{ url_for('dashboard') }}">Back to dashboard</a>

{% endblock %}